.MapboxMap {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 16px;
}
#map {
  position: relative;
  height: 60vh;
  width: 80vw;
  top: 0;
  bottom: 0;
  border-radius: 16px;
}
.marker {
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0;
}
.marker img {
  width: 30px;
}
